a {
  text-decoration: none;
}

li {
  list-style: none;
}

input {
  border: 1px solid #dfdede;
}

/* Header */
header {
  height: 5em;
  background-color: rgb(122, 188, 247);
  width: 100%;
}

.nav_menu {
  height: 5em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav_menu_item {
  display: flex;
}

.nav_link {
  padding: 0 20px;
}

.nav_menu_title {
  padding-left: 20px;
}

.nav_menu_title a {
  text-shadow: 3px 3px #000;
  color: #fff;
  font-size: 2em;
  font-weight: bold;
}

.nav_menu_title a:hover {
  text-shadow: 5px 5px 5px #000;
}

.nav_link a {
  color: #fff;
  font-weight: bold;
  font-size: 1.2em;
  text-shadow: 2px 2px #000;
}

.nav_link a:hover {
  text-shadow: 3px 3px 3px #000;
}

/* user sign up_in */
.sign_user {
  margin-top: 10vh;
}

.sign_title, .actions {
  text-align: center;
}

.sign_title a {
  color: rgb(90, 165, 235);
}

.sign_user h1 {
  font-size: 2em;
  font-weight: bold;
}

.field {
  margin: 3vh auto;
  max-width: 500px;
}

.field input {
  height: 4vh;
  width: 100%;
  background-color: #f0f0f0;
}

.field label {
  font-size: large;
}

.submit_btn {
  height: 50px;
  width: 250px;
  border-radius:2.5em;
  background-color: rgb(90, 165, 235);
  color: #fff;
  font-size: 1em;
}

.submit_btn:hover {
  opacity: 0.5;
}