<header>
  <div class='header_nav'>
    <ul class='nav_menu'>
      <li class='nav_menu_title'><%= link_to 'PlanDesign', root_path %></li>
      <li>
        <ul class="nav_menu_item">
          <li class='nav_menu_name nav_link'>UserName</li>
          <li class='nav_link'>プランの追加</li>
          <li class='nav_link'>ログアウト</li>
        </ul>
      </li>
    </ul>
  </div>
</header>