<%= render 'layouts/header' %>

<div class='index_main'>
  <% @plans.each do |plan| %>
    <div class='index_item'>
      <h2><%= plan.title %></h2>
      <div class='plan_nav'>
        <%= link_to '#' do %>
          <i class="fa fa-edit fa-lg" aria-hidden="true"></i>
        <% end %>
        <%= link_to '#' do %>
          <i class="fa fa-trash-o fa-lg"></i>
        <% end %>
      </div>
    </div>
  <% end %>
</div>